@import 'tailwindcss';

:root {
  --background: #fff5d7;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

button:hover {
  cursor: pointer;
  opacity: 0.75;
}
