@import 'tailwindcss';

:root {
  --background: #d8f999;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

button:hover:not(:disabled) {
  cursor: pointer;
  opacity: 0.75;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
